<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">マイページ</h5>
      <div class="p-4  bg-light">
        <table class="table table-bordered mt-2">
          <tbody>
            <tr>
              <td class="table-active">氏名</td>
              <td><%= @customer.name %></td>
            </tr>
            <tr>
              <td class="table-active">メールアドレス</td>
              <td><%= @customer.email %></td>
            </tr>
            <tr>
              <td class="table-active">郵便番号</td>
              <td><%= @customer.postal_code %></td>
            </tr>
            <tr>
              <td class="table-active">住所</td>
              <td><%= @customer.address %></td>
            </tr>
            <tr>
              <td class="table-active">保有ポイント</td>
              <td><%= @customer.total_point %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "編集する", edit_public_customer_path(@customer.id), class:"btn btn-block btn-primary mt-5" %>
      </div>
    </div>
  </div>
</div>