<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>商品新規登録</strong></h4>
      <div class="form-body p-4 bg-light">
        <% if @item.errors.any? %>
          <%= @item.errors.count %>件のエラーが発生しました
          <% @item.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_with model:@item,url: admin_items_path,local:true do |f| %>
          <%= f.attachment_field :image, class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-gifts"></i></span>
            </div>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name , prompt: "-- 選択してください --") %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-gift"></i></span>
            </div>
            <%= f.text_field :name, class:"form-control", placeholder:"商品名" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa fa-info-circle "></i> </span>
            </div>
            <%= f.text_field :detail, class:"form-control", placeholder:"商品説明" %>
          </div>
          <%= f.submit "新規登録", class:"btn btn-block btn-success mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>