<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">商品詳細</h5>
      <div class="p-4 bg-light">
        <table class="table table-bordered mt-2">
          <div><%= flash[:notice] %></div>
          <%= attachment_image_tag(@item, :image, size: "200x200", fallback: "no_image.jpg") %>
          <tr>
            <th>ジャンル名</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>平均レビュー評価</th>
            <td>
              <div class="content average-value">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= @item.review_value_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-value-display ml-3 pt-2">
                  <%= @item.avg_value %>点（<%= @item.reviews.count %>件のレビュー）
                </div>
              </div>
            </td>
          </tr>
        </table>
        <%= link_to "編集", edit_admin_item_path(@item), class:"btn btn-block btn-primary" %>
        <%= link_to "商品一覧", admin_items_path, class:"btn btn-block btn-success" %>
      </div>
    </div>
  </div>
</div>