<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong><%= @customer.name %>さんの会員情報編集</strong></h4>
      <div class="form-body p-4 bg-light">
        <%= form_with model:@customer, url:admin_customer_path(@customer),local:true do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :name, class:"form-control", placeholder:"氏名" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
            </div>
            <%= f.text_field :email, class:"form-control", placeholder:"メールアドレス" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-tenge"></i></span>
            </div>
            <%= f.text_field :postal_code, class:"form-control", placeholder:"郵便番号" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fab fa-font-awesome-flag"></i></span>
            </div>
            <%= f.text_field :address, class:"form-control", placeholder:"住所" %>
          </div>
          <div class="mt-4">
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会" %>
          </div>
          <%= f.submit "変更内容保存", class:"btn btn-block btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>