<h1><%= @customer.name %>さんの会員情報編集</h1>
      <%= form_with model:@customer, url:admin_customer_path(@customer),local:true do |f| %>
        <table class="table table-borderless">
          <tr>
            <th><%= f.label :"会員ID" %></th>
            <td><%= f.label :"#{@customer.id}" %></td>
          </tr>
          <tr>
            <th><%= f.label :"氏名" %></th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th><%= f.label :"郵便番号" %></th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th><%= f.label :"住所" %></th>
            <td><%= f.text_field :address%></td>
          </tr>
          <tr>
            <th><%= f.label :"メールアドレス" %></th>
            <td><%= f.text_field :email %></td>
          </tr>
        </table>
        <div>
          <%= f.submit "変更を保存する", class: "btn btn-success"%>
        </div>
      <% end %>
    </div>
  </div>
</div>