<h1><%= @customer.name %>さんの会員詳細</h1>
    <table>
      <tr>
        <th>顧客ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
<div>
  <%= link_to "編集する",edit_admin_customer_path(@customer), class: "btn btn-success" %>
  <%= link_to " レビュー履歴一覧を見る", admin_reviews_path, class: "btn btn-primary" %>
</div>