<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">レビュー詳細</h5>
      <div class="p-4 bg-light">
        <table class="table table-bordered mt-2">
          <tr>
            <th>レビュー日時</th>
            <td><%= @review.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>レビュー者</th>
            <td><%= @review.customer.name %></td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><%= @review.item.name %></td>
          </tr>
          <tr>
            <th>商品評価</th>
            <td>
              <div class="content item-value raty-center">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= @review.review_value_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="item-value-display ml-3 pt-2">
                  <%= @review.value %>点
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>良い点</th>
            <td><%= @review.good_point %></td>
          </tr>
          <tr>
            <th>悪い点</th>
            <td><%= @review.bad_point %></td>
          </tr>
          <tr>
            <th>改善点</th>
            <td><%= @review.improvement_point %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>