<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-auto text-center shadow-lg px-0 my-5">
      <h4 class="text-dark bg-light py-4 mb-0"><strong>ジャンル一覧</strong></h4>
      <div class="p-4 bg-light">
        <table class="table table-bordered mt-2">
          <thead>
            <tr>
              <th>ジャンル名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr>
                <td><%= genre.name %></td>
                <td><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-primary pt-0 pb-0" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-block btn-success mb-3" data-toggle="modal" data-target="#exampleModal">新規登録</button>
        <%= paginate @genres %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"><strong>ジャンル新規登録</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: @genre, url: admin_genres_path,local:true do |f| %>
          <%= f.attachment_field :image, class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-gifts"></i></span>
            </div>
            <%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %>
          </div>
          <%= f.submit "新規登録", class:"btn btn-block btn-success mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>