<h2>ジャンル一覧</h2>
<table>
  <thead>
    <tr>
      <th>ジャンル画像</th>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= attachment_image_tag(genre, :image, size: "40x40", fallback: "no_image.jpg") %></td>
        <td><%= genre.name %></td>
        <td><%= link_to "新規登録する", new_admin_genre_path, class: "btn btn-success" %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
        <td><%= link_to "削除する", edit_admin_genre_path(genre),method: :delete,class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>