<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 mx-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>ジャンル新規登録</strong></h4>
      <div class="form-body p-4 bg-light">
        <% if @genre.errors.any? %>
          <%= @genre.errors.count %>件のエラーが発生しました
          <% @genre.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_with model: @genre, url: admin_genres_path,local:true do |f| %>
          <%= f.attachment_field :image, class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-gifts"></i></span>
            </div>
            <%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %>
          </div>
          <%= f.submit "新規登録", class:"btn btn-block btn-success mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>