<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light py-4 mb-0"><strong>管理者ログイン</strong></h4>
      <div class="form-body p-4 bg-light">
        <div class="mx-auto text-center">
          <p>下記項目を入力してください。</p>
        </div>
        <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
          <%= render "layouts/error_messages", resource: @admin %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
          </div>
          <%= f.submit "ログイン", class:"btn btn-lg btn-block btn-primary mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto text-center">
  <%= link_to 'ゲストログイン（閲覧用）', admins_guest_sign_in_path,class: 'mt-5 btn btn-danger', method: :post %>
</div>
