<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand nav-link text-light" href="/"><span><strong>Trading Review</strong></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li><%= link_to 'マイページ', public_customer_path(current_customer.id), class: 'fas fa-user nav-link text-light' %></li>
          <li><%= link_to 'ジャンル一覧', public_genres_path, class: 'fas fa-gifts nav-link text-light' %></li>
          <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to '商品一覧', admin_items_path, class: 'fas fa-gift nav-link text-light' %></li>
          <li><%= link_to 'ジャンル一覧', admin_genres_path, class: 'fas fa-gifts nav-link text-light' %></li>
          <li><%= link_to '会員一覧', admin_customers_path, class: 'fa fa-users nav-link text-light' %></li>
          <li><%= link_to 'レビュー履歴一覧', admin_reviews_path, class: 'fas fa-comment-dots nav-link text-light' %>
          <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
        <% else %>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>